amqp==2.2.1
anyjson==0.3.3
appdirs==1.4.3
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==2.5.0
backports-abc==0.5
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
coreapi==2.3.1
coreschema==0.0.4
cryptography==2.1.4
cssselect==1.0.3
cx-Oracle==6.4.1
Django==1.11.14
django-autofixture==0.12.1
django-celery==3.2.1
django-celery-results==1.0.1
django-cors-headers==2.1.0
django-filter==1.0.4
django-guardian==1.4.9
django-haystack==2.6.1
django-ipware==1.1.6
django-jsonfield==1.0.1
django-queryinspect==1.0.0
django-redis==4.8.0
django-rest-framework-mongoengine==3.3.1
django-rest-swagger==2.1.2
django-simple-captcha==0.5.5
djangorestframework==3.6.3
djangorestframework-camel-case==0.2.0
drf-extensions==0.3.1
enum34==1.1.6
et-xmlfile==1.0.1
ffmpy==0.2.2
flower==0.9.2
futures==3.1.1
geetest==3.2.1
geopy==1.11.0
html5lib==0.999999999
hyperlink==17.3.1
idna==2.5
incremental==17.5.0
ipaddress==1.0.19
iso8601==0.1.12
itypes==1.1.0
jdcal==1.3
Jinja2==2.9.6
jpush==3.2.8
kombu==4.1.0
lxml==4.1.1
m3u8==0.3.2
Markdown==2.6.8
MarkupSafe==1.0
mongoengine==0.13.0
mysqlclient==1.3.12
olefile==0.44
openapi-codec==1.3.2
openpyxl==2.4.8
packaging==16.8
parsel==1.3.1
pili2==2.1.0
Pillow==4.2.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pymongo==3.4.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypng==0.0.18
PyQRCode==1.2.1
pysolr==3.6.0
python-alipay-sdk==1.3.0
python-dateutil==2.6.1
python-logstash==0.4.6
python-magic==0.4.13
pytz==2018.5
PyYAML==3.12
qiniu==7.1.4
queuelib==1.4.2
redis==2.10.5
request==0.0.22
requests==2.18.2
requirements==0.1
Scrapy==1.5.0
service-identity==17.0.0
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.10.0
socketIO-client==0.7.2
sqlparse==0.2.3
tokenlib==0.3.1
tornado==4.5.2
Twisted==17.9.0
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
w3lib==1.18.0
webencodings==0.5.1
websocket-client==0.44.0
xlrd==1.1.0
xlwt==1.2.0
xmltodict==0.11.0
zope.interface==4.4.3
